@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}



<h1>@ViewBag.seriesTitle</h1>
<h2> Issue #@ViewBag.issueNumber</h2>
<h5>Description</h5>
<div>@Html.Raw(ViewBag.description)</div>
@if (ViewBag.Artists.Length > 0)
{
<h5>Artists:</h5>
<div>
    <ul>
        @foreach (var artist in ViewBag.Artists)


        {

            <li>* @artist</li>
        }

    </ul>
</div>
}